<% faved = Favourite.find_by(workout: workout, user: current_user ) != nil %>
<% btn_color = faved ? "red" : "grey" %>

<li class="workout-partial-box" >
  <div class="imagebox">
    <%= image_tag(workout.exercises.first.image, class:"small-image") %>
  </div>
  <div class="textbox">
    <h3><%= link_to workout.name, workout %></h3>
    <p><%= workout.description %></p>
  </div>
  <% if !defined?(saved_workouts) || !saved_workouts %>
    <div class="workout-links">
      <div><%= workout.favourites.count %></div>
      <div class="fi-heart <%=btn_color%>" data-workoutid="<%= workout.id %>"></div>
    </div>
  <% else %>
    <div class="workout-links">
      <div class="fi-heart <%=btn_color%>" data-workoutid="<%= workout.id %>"></div>
      <div class="fi-trash grey"></div>
    </div>
  <%end%>
</li>
