<section class="container add-article-form">
  <div class="row text-center">
    <h1 class="workout-title">Add a New Workout</h1>
  </div>

  <%= form_for @workout do |f| %>
    <% if @workout.errors.any? %>
    <div id="error-explanation">
      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>


  <div class="section-label">Workout Details</div>
  <div class="form-section">
    <div class="field">
      <%= f.label "Workout Name" %>
      <%= text_field :workout, :name%>
    </div>

    <div class="field">
      <%= f.label "Description" %>
      <%= text_area :workout, :description, size: "60" %>
    </div>

    <div class="field">
      <%= f.label "Break Interval" %>
      <%= number_field :workout, :interval, in: 5..60, step: 5 %>
    </div>
  </div>

  <div class="section-label">Add Exercsises</div>
  <div class="form-section">
    <div class="exercise-form"><ol></ol></div>

    <div class="choose-exercise">
      <div>
        <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :name ),
            {prompt: "--select exercise--", id: "exercise-select"} )%>
      </div>
      or
      <div class="inline">

      </div>
    </div>


  </div>

  <div class="actions">
    <%= f.submit "Create Workout", class: "btn" %>
  </div>

  <% end %>
</section>

<script>
  $(document).ready(function () {
    $("#exercise-select").change(function () {
      var exerciseSelect = this;
      var id = exerciseSelect.value;
      var exercise = exerciseSelect.querySelector("option[value='" + id + "']");
      addExerciseDetails(id, exercise);
    });

    $(".add-instructions").on("click", addExerciseInstructions);

    function addExerciseDetails(id, exercise) {
      $("ol").append('<li class="exercise-field"><strong>' + exercise.innerHTML + '</strong> for </li>');
      $("li:last-child").append('<input step="30" min="30" max="600" type="number" name="exercises_workouts[][time]" id="exercises_workouts_time"> seconds:');
      $("li:last-child").append('<input type="text" name="exercises_workouts[][instructions]" id="exercises_workouts_instructions"></li>');
      $("li:last-child").append('<input type="hidden" name="exercises_workouts[][exercise_id]" value="'+id+'" />');
    }
  })
</script>
