
<div class="workout-body">
  <h1 class="workout-title"><%= @workout.name %></h1>
  <p class="workout-description"><%= @workout.description %></p>


  <% @workout.exercises.each_with_index do |exercise, index| %>
  <div class="exercise-panel">
    <%= index + 1 %>.
    <%= exercise.name %>
    <div class="exercise-image"><%= image_tag(exercise.image, width:"100", height:"auto") %></div>
  </div>
  <% end %>
</div>
